[submodule "Chapter4/C_LD_with_alpha"]
	path = Chapter4/C_LD_with_alpha
	url = https://github.com/xijunke/C_LD_with_alpha.git
[submodule "Chapter4/Wing_Shape_fruitfly"]
	path = Chapter4/Wing_Shape_fruitfly
	url = https://github.com/xijunke/Wing_Shape_fruitfly.git
[submodule "Chapter4/aerodynamic_moment_model2_2_FCoeff_optimal"]
	path = Chapter4/aerodynamic_moment_model2_2_FCoeff_optimal
	url = https://github.com/xijunke/aerodynamic_moment_model2_2_FCoeff_optimal
[submodule "Chapter4/aerodynamic_moment_model2_2_MCoeff_optimal"]
	path = Chapter4/aerodynamic_moment_model2_2_MCoeff_optimal
	url = https://github.com/xijunke/aerodynamic_moment_model2_2_MCoeff_optimal
[submodule "Chapter5/FWMAV_HoverWingbeatDynamics"]
	path = Chapter5/FWMAV_HoverWingbeatDynamics
	url = https://github.com/xijunke/FWMAV_HoverWingbeatDynamics.git
[submodule "Chapter6/C_LD_C_perimeter_to_Edge_correction"]
	path = Chapter6/C_LD_C_perimeter_to_Edge_correction
	url = https://github.com/xijunke/C_LD_C_perimeter_to_Edge_correction.git
[submodule "Chapter6/FWMAV_HoverEnergyConsumptionOptimizations_WGP_WKP"]
	path = Chapter6/FWMAV_HoverEnergyConsumptionOptimizations_WGP_WKP
	url = https://github.com/xijunke/FWMAV_HoverEnergyConsumptionOptimizations_WGP_WKP
[submodule "Chapter7/FWMAV_HoverEnergyConsumptionOptimizations_WGP_WKP"]
	path = Chapter7/FWMAV_HoverEnergyConsumptionOptimizations_WGP_WKP
	url = https://github.com/xijunke/FWMAV_HoverEnergyConsumptionOptimizations_WGP_WKP.git
[submodule "Chapter8/Transmission_drive_mechanism_for_FWMAV"]
	path = Chapter8/Transmission_drive_mechanism_for_FWMAV
	url = https://github.com/xijunke/Transmission_drive_mechanism_for_FWMAV.git
[submodule "Chapter8/PiezoelectricActuator_for_FWMAV"]
	path = Chapter8/PiezoelectricActuator_for_FWMAV
	url = https://github.com/xijunke/PiezoelectricActuator_for_FWMAV.git
[submodule "Chapter4/C_perimeter_to_Edge_correction"]
	path = Chapter4/C_perimeter_to_Edge_correction
	url = https://github.com/xijunke/C_perimeter_to_Edge_correction
[submodule "Chapter4/aerodynamic_force_stick_figure"]
	path = Chapter4/aerodynamic_force_stick_figure
	url = https://github.com/xijunke/aerodynamic_force_stick_figure
